@function prc($pxOne, $pxTwo) {
	$result: calc($pxOne / $pxTwo) * 100%;
	@return $result;
}

@function rem($px) {
	$result: calc($px / 16) + rem;
	@return $result;
}

@function em($px) {
	$result: calc($px / 16) + em;
	@return $result;
}
