// Подключаемые шрифты
// @import "fonts/fonts";

// Функции и переменные
@import 'base/functions';
@import 'base/variables';

:root {
	// Шрифт по умолчанию
	--fontFamily: "raleway_f", sans-serif;
	// font-weight
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	// colors
	--color-yellow: #e7e7e0;

	// общие
	--minWidth: 375;
	--maxWidth: 1440;
	--containerWidth: 1176; // Вписываем ширину контейнера как она есть
	--containerPadding: 40;
	--containerSidePadding: calc(var(--containerPadding) / 2);

	// вспомогательные
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
	--index: calc(1vh + 1vw); // Адаптивное свойство. Использование: font-size: calc(var(--index) * 2.5);
}


// Обнуление, общие параметры
@import 'base/null';
// @import 'base/mixins';

// Оболочка
body {
	color: #e7e7e0;
	background-color: #010101;
	line-height: 1.55;
	font-size: calc(var(--containerSidePadding) * 1px);
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// Основная сетка
.container {
	max-width: calc((var(--containerWidth) + var(--containerPadding)) * 1px);
	width: 100%;
	margin: 0 auto;
	padding: 0 calc(var(--containerSidePadding) * 1px);

	@media (max-width: em($breakpoint1400)) {
		max-width: rem(1100);
	}
	@media (max-width: em($breakpoint992)) {
		max-width: rem(970);
	}

	@media (max-width: em($breakpoint768)) {
		max-width: rem(750);
	}

	@media (max-width: em($breakpoint480)) {
		max-width: none;
	}
}

.vertical-indent {
	&--xs {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&--s {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&--m {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&--l {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&--xl {
		padding-top: 0px;
		padding-bottom: 0px;

	}
	@media (max-width: em($breakpoint1200)) {

	}
	@media (max-width: em($breakpoint992)) {

	}
	@media (max-width: em($breakpoint768)) {

	}
}

// классы для вставки 
// vertical-indent vertical-indent--xs
// vertical-indent vertical-indent--s
// vertical-indent vertical-indent--m
// vertical-indent vertical-indent--l
// vertical-indent vertical-indent--xl

// Подключение файлов с общими классами
@import "base/ui";